# REMOTE TESTING

REDIS_HOST='redis-18334.c1.us-west-2-2.ec2.cloud.redislabs.com' REDIS_PORT='18334' REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' bats ./tests/*
REDIS_HOST='redis-18334.c1.us-west-2-2.ec2.cloud.redislabs.com' REDIS_PORT='18334' REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' ./scripts/redis-test.sh


REDIS_HOST='redis-18334.c1.us-west-2-2.ec2.cloud.redislabs.com'
REDIS_PORT='18334' REDIS_USER='default'
REDIS_USER='default'
REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br'


# LOCAL TESTING

REDIS_HOST='127.0.0.1' REDIS_PORT='6379'  REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' bats ./tests/*
REDIS_HOST='127.0.0.1' REDIS_PORT='6379'  REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' ./scripts/redis-test.sh


# DEV
 docker run -d --name redis-stack-serveer -p 6379:6379 redis/redis-stack-server:latest
REDIS_HOST='127.0.0.1' REDIS_PORT='6379' REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' ./scripts/seedCrawlQueue.sh "spencerlepine/repo"
redis-cli -h '127.0.0.1' -p '6379' -a 'mypas' set cat-count 10

REDIS_HOST='127.0.0.1' REDIS_PORT='6379' REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' ./scripts/seedCrawlQueue.sh "spencerlepine/repo"
REDIS_HOST='127.0.0.1' REDIS_PORT='6379' REDIS_USER='default' REDIS_PASS='revmDBZdMt4vJP2Ads0IblnEfwRwO8Br' ./scripts/fetchNextInCrawlQueue.sh  LPOP crawl-queue

